.header{
    background-color: rgb(251, 255, 0);
    padding: 75px;
    border-style: solid;
}
.container{
    background-color: rgb(16, 22, 77);
    padding: 600px;
    border-style: solid;
}
.footer{
    background-color: rgb(19, 9, 2);
    padding: 75px;
    border-style: solid;
}